# vim:et sts=2 sw=2 ft=sh
VIRTUAL_ENV=$PWD/.venv
PYTHON_VERSION=$(<.python-version)
PYTHON=python$PYTHON_VERSION
if [[ ! -e $VIRTUAL_ENV/bin/$PYTHON ]]; then
  make venv -B || exit 1
fi
export VIRTUAL_ENV
PATH_add $VIRTUAL_ENV/bin
